<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fontenehuset Info</title>
        <nav>
            <link rel="stylesheet" href="static/css/info.css">
            <a href="/">Tilbake</a>
    </head>
    <body>
        <h1>Booking</h1>
        <p>Denne siden blir kun brukt til booking av omvisinger til Fontenehuset Bergen.
            Alt av privat informasjon som blir sendt inn via skjemaet vil kun bli brukt til å kontakte deg angående omvisingen.
            Dette blir ikke brukt videre til noen andre formål, og vil ikke bli delt med noen andre.
            Skulle det vært spørsmål rundt dette, ta kontakt med Fontenehuset Bergen på e-post: 
            <a href="mailto: kontakt@fontenehuset-bergen.no">kontakt@fontenehuset-bergen.no</a>
        </p>
    </body>
</html>